* {
    font-family: "Montserrat", sans-serif;
    color: white;
    background: #000;
    overflow: hidden;
    margin: 0;
}
.main{
    display: flex;
    height: 100vh;
    border-radius: 15px;
    padding: 0.5rem;
}
.sidebar{
    background: #121212;
    width: 340px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.nav{
    display: flex;
    flex-direction: column;
    height: 110px;
    border-radius: 1rem;
    padding: 0.5rem 0.75rem;
}
.nav-option {
    margin: 0.5rem;
    padding: 5px;
    line-height: 2rem;
    justify-content: center;
    align-items: center;
    transition: background 0.3s, opacity 0.3s;
}
.nav-option:hover {
    background: #292929;
    opacity: 0.9;
}
.nav-option i{
    font-size: 1.2rem;
}
.nav-option a{
    font-size: 1rem;
    text-decoration: none;
    opacity: 0.7;
    padding: 0.5rem;
}
.nav-option a:hover{
    opacity: 1;
}
.main-content{
    background: #121212;
    flex: 1;
    overflow: auto;
    border-radius: 15px;
}
.music{
    background: black;
    position: fixed;
    bottom: 0;
    height: 75px;
    width: 100%;
    display: flex;
}
.library{
    margin-top: 0.5rem;
    border-radius: 1rem;
    width: 340px;
    height: 100%;
}
.part1{
    padding: 0.5rem 0.75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
    border-radius: 1rem;
    height: 3rem;
}
.leftside{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
}
.leftside img{
    font-size: 1.25rem;
    width: 1.25rem;
    opacity: 0.5;
    cursor: pointer;
}
.leftside img:hover{
    opacity: 1;
}
.leftside a{
    margin-left: 0.75rem;
    text-decoration: none;
    opacity: 0.7;
}
.leftside a:hover{
    opacity: 1;
}
.rightside{
    align-items: center;
    padding: 1rem;
    display: flex;
    flex-direction: row;
}
.rightside i{
    margin: 0.75rem;
    opacity: 0.5;
    cursor: pointer;
    font-size: 1.23rem;
}
.rightside i:hover{
    opacity: 1;
}
.part2{
    background: #232323;
    height: 9rem;
    margin-top: 0.5rem;
    padding: 1rem 1.25rem;
    border-radius: 1rem;
}
.p1{
    background: #232323;
    margin: 0.8rem;
    font-weight: 700;
    padding: 0.25;
}
.p2{
    background: #232323;
    margin: 0.8rem;
    font-weight: 400;
    padding: 0.25;
    opacity: 0.75;
}
.badge{
    margin: 1rem ;
    background: #fff;
    color: black;
    font-weight: 700;
    border-radius: 100px;
    padding: 0.5rem 0.5rem;
    border: none;
    width: fit-content;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}
.badge:hover {
    background: #f0f0f0;
}
.part3{
    background: #232323;
    height: 11rem;
    margin-top: 0.5rem;
    padding: 1rem 1.25rem;
    border-radius: 1rem;
}
.main-nav{
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #121212;
    height: 4.5rem;
    width: 100%;
    border-radius: 1rem;
    margin-top: 0;
    z-index: 10;
}
.icon{
    margin: 0.5rem;
    padding-top: 0.3rem;
    font-size: 1rem;
    background: #121212;
}
.icon img{
    margin-left: 0.5rem;
    /* background: #121212; */
    border-radius: 50%;
    justify-items: center;
    opacity: 0.75;
    height: 1.75rem;
    padding: 0.5rem;
}
.icon img:hover{
    opacity: 1;
    cursor: pointer;
}
.sideright{
    display: flex;
    flex-direction: row;
    background: #121212;
    align-items: center;
}

.customer{
    background: #121212;
    margin-right: 1rem;
    margin-left: 0.5rem;
   font-size: 1rem;
   cursor: pointer;
   opacity: 0.75;
}
.customer:hover{
    opacity: 1;
}
.btndark{
    background: #000;
    color: #fff;
    margin: 0 0.5rem 0 0 ;
    font-weight: 700;
    border-radius: 100px;
    padding: 0.5rem 0.5rem;
    border: none;
    width: fit-content;
    font-size: 1rem;
    cursor: pointer;
}

@media (max-width: 1000px){
    .hide{
        display: none  ;
    }
}

.cards{
    margin: 1rem;
    background: #121212;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
h2{
    background: #121212;
    font-weight: 600;
    margin-left: 1rem;
    padding-left: 1rem;
}
.box-container{
    background: #0b090a62;
    height: 24rem;;
    width: 15rem;
    margin: 1rem;
    border-radius: 0.5rem;
    transition: background 0.3s, transform 0.3s;
}
.box-container:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.box-container img{
    height: 15rem;
    width: 13rem;
    margin: 1rem;
    border-radius: 0.5rem;
}
.name{
    
    background: none;
    margin: 0.8rem;
    font-weight: 600;
    padding: 0.5;
    opacity: 0.75;
}
.name:hover{
    opacity: 1;
}
.info{
    background: none;
    margin: 0.8rem;
    font-weight: 300;
    font-size: 0.9rem;
    padding: 0.5;
    opacity: 0.5;
}
.info:hover{
    opacity: 1;
}
.line{
    display: flex;
    height: 200px;
    /* width: 90%; */
    color: white;
    background: #121212;   
    align-items: center;
    justify-content: center;
}
.linset{
    border-top: 1px solid white;
    width: 90%;
    height: 50%;
    background: #121212;   
}
.left-footer{
    width: 25%;
    display: flex;
    align-items: center;
}
.left-footer img{
    margin-right: 1rem;
}
.left-footer img:hover{
    cursor: pointer;
}
.center-footer{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;


}
.playerbar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    
}
.center-footer img:hover{
    cursor: pointer;
}
.progressbar{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
.progressplayer {
    width: 70%;
    appearance: none;
    cursor: pointer;
}
.progressplayer::-webkit-slider-runnable-track{
    background: #ddd;
    border-radius: 100px;
    height: 0.25rem;
}
.progressplayer::-webkit-slider-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    background: #1db760;
    border-radius: 50%;
    margin-top: -0.45rem;
}
.right-footer{
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.right-footer img{
    height: 2.5rem;
}
.right-footer img:hover{
    cursor: pointer;
}
.voice{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.voice img{
    height: 2.25rem;
}
.slider{
    appearance: none;
    cursor: pointer;
    height: 1rem;
}

.slider::-webkit-slider-thumb{
    appearance: none;
    background: #1db760;
    height: 1rem;
    width:1rem;
    border-radius: 50%;
    margin-top: -7px;
}
.slider::-webkit-slider-runnable-track{
    appearance: none;
    background: #ddd;
    height: 0.15rem;
    border-radius: 100px;
    width: 100%;
}